.exit-button {
    position: absolute;
    right: 0;
    margin: 1em;
    min-width: 15%;
    max-width: 3em;
}

.digicode-button {
    position: absolute;
    margin: 1em;
    bottom: 0;
    right: 0;
}
