<div class="ion-page">
    <ion-content>
        <ion-grid>
            <ion-row>
                <img src="/assets/accueil.svg" alt="logo foodstock" />
            </ion-row>

            <ion-row>
                <div class="title">
                    <h1>Foodventory</h1>

                    <ion-text>
                        Finis le gachis !! (pk pas une liste de texte chosis aléatoirement)
                    </ion-text>
                </div>
            </ion-row>

            <ion-row class="buttons">
                <ion-button color="primary" (click)="router.navigateByUrl('/login')">
                    Connexion
                </ion-button>

                <ion-button color="primary" (click)="router.navigateByUrl('/register')">
                    Créer un compte
                </ion-button>
            </ion-row>
        </ion-grid>
    </ion-content>
</div>