.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;

    button {
        color: white;
    }
}

ion-row {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--ion-text-color);
}

img {
    padding: 3em;
}

ion-grid {
    padding: 20px;
}