<ion-content [fullscreen]="true">
  <div class="cgu-header">
    <ion-buttons slot="start" class="header-icons">
      <ion-back-button icon="caret-back-outline" defaultHref="/register"></ion-back-button>
    </ion-buttons>
    <h1>Conditions Générales d'Utilisations
    </h1>
  </div>
  <div class="cgu-content">

    <ion-text>
      Les présentes conditions générales d'utilisation (CGU) régissent l'accès et l'utilisation de l'application mobile
      Foodventory. En téléchargeant, installant ou utilisant l'Application, vous acceptez d'être lié par ces CGU. Si
      vous
      n'acceptez pas ces conditions, vous devez cesser d'utiliser l'Application. </ion-text>
    <h2>I. Description de l'Application</h2>
    <ion-text>Foodventory est une application mobile dédiée à la gestion et au suivi des stocks alimentaires des
      utilisateurs. Elle permet de suivre les aliments présents dans le réfrigérateur, de recevoir des rappels sur les
      dates de péremption, de planifier des repas et de générer des recettes en fonction des ingrédients
      disponibles.</ion-text>
    <h2>II. Accès à l'Application</h2>
    <ion-text>Pour utiliser Foodventory, vous devez disposer d'un appareil mobile compatible et d'une connexion
      Internet et nécessite la création d'un compte
      utilisateur.
    </ion-text>
    <h2>III. Création de Compte Utilisateur</h2>
    <ion-text>
      <h3>a. Inscription:</h3> Lors de l'inscription, vous devrez fournir des informations personnelles exactes et
      complètes. Ces informations doivent être mises à jour en cas de modification.
    </ion-text>
    <ion-text>
      <h3>b. Responsabilités:</h3> Vous êtes responsable de la confidentialité de vos informations de connexion et de
      toutes les activités menées sous votre compte. Il est de votre responsabilité de signaler immédiatement toute
      utilisation non autorisée de votre compte.
    </ion-text>
    <ion-text>
      <h3>c. Interdiction:</h3> Vous vous engagez à ne pas créer de comptes multiples ou usurper l'identité d'autrui.
    </ion-text>
    <h2>IV. Utilisation de l'Application</h2>
    <ion-text>
      <h3>a. Fonctionnalités:</h3> L'Application vous permet de gérer vos stocks alimentaires, d’ajouter des produits,
      de suivre leur date de péremption, de planifier des repas et de générer des recettes en fonction des ingrédients
      disponibles.
    </ion-text>
    <ion-text>
      <h3>b. Propriété Intellectuelles:</h3> Tous les contenus, services, logos, marques et éléments graphiques présents
      dans l'Application sont protégés par des droits de propriété intellectuelle et sont la propriété exclusive de
      Foodventory ou de ses partenaires. Toute reproduction ou utilisation non autorisée de ces éléments est interdite.
    </ion-text>
    <h2>V. Responsabilités et Garanties</h2>
    <ion-text>
      <h3>a. Responsabilités de l'Utilisateur:</h3> Vous vous engagez à utiliser l'Application de manière légale et à
      respecter les droits des autres utilisateurs.
    </ion-text>
    <ion-text>
      <h3>b. Limitation de Responsabilité</h3> Foodventory ne pourra être tenu responsable des dommages directs ou
      indirects résultant de l'utilisation de l'Application, notamment en cas de défaillance technique, de perte de
      données, de non-disponibilité des services ou de tout autre incident.
    </ion-text>
    <ion-text>
      <h3>c. Disponibilité de l'Application</h3> Foodventory met tout en œuvre pour garantir un accès continu à
      l'Application, mais ne garantit pas son fonctionnement sans interruption ni l'absence d'erreurs.
    </ion-text>
    <h2>VI. Confidentialité et Données Personnelles</h2>
    <ion-text>Les informations personnelles collectées via l'Application sont traitées conformément à notre Politique de
      Confidentialité. En utilisant l'Application, vous consentez à la collecte et à l'utilisation de vos données
      personnelles conformément à cette politique.</ion-text>
    <h2>VII. Modification des Conditions Générales d'Utilisation</h2>
    <ion-text>Foodventory se réserve le droit de modifier ces CGU à tout moment. En cas de modification, la nouvelle
      version des CGU sera mise à jour dans l'Application. Vous serez informé des changements majeurs, et l'utilisation
      continue de l'Application après la modification des CGU constitue une acceptation des nouvelles
      conditions.</ion-text>
    <h2>IX. Résiliations</h2>
    <ion-text>Foodventory se réserve le droit de suspendre ou de résilier l'accès à l'Application de tout utilisateur
      qui enfreint ces CGU ou qui agit de manière contraire à la loi. Vous pouvez également supprimer votre compte à
      tout moment via les paramètres de l'Application.
    </ion-text>
    <h2>X. Force Majeure</h2>
    <ion-text>Foodventory ne pourra être tenu responsable des retards ou de l'inexécution de ses obligations en cas de
      force majeure, telle que définie par la législation en vigueur.</ion-text>
    <h2>XI. Droit Applicable et Litiges</h2>
    <ion-text>Les présentes CGU sont régies par le droit français. En cas de litige, les parties tenteront de résoudre
      le différend à l'amiable. À défaut d'accord, le litige sera soumis à la compétence des juridictions
      françaises.</ion-text>
    <h2>XII. Contact</h2>
    <ion-text>Pour toute question ou demande concernant les présentes CGU ou l'Application, vous pouvez nous contacter à
      l'adresse suivante : <u>{{adress}}</u> .</ion-text>
  </div>

  <div class="cgu-footer">
    <ion-button [routerLink]="['/register']">J'ai lu et accepte les CGU</ion-button>
  </div>

</ion-content>