.cgu-header {
    display: flex;
    flex-direction: row;

    h1 {
        font-size: clamp(20px, 2vw, 50px);
        padding-left: 5px;
    }
}

.cgu-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: clamp(12px, 2vw, 30px);
    align-content: center;
    flex-wrap: wrap;

    h2 {
        font-size: clamp(15px, 2vw, 40px);
        padding-left: 10px;
    }

    h3 {
        font-size: clamp(13px, 2vw, 40px);
        padding-left: 14px;
    }

    ion-text {
        text-align: justify;
    }
}

.cgu-footer {
    padding: 15px;
    display: flex;
    justify-content: center;
}