<app-modal
    [title]="'Nouveau stock'"
    [modalIsOpen]="isModalOpen"
    [contentTemplate]="content"
    (confirmEvent)="confirm()"
    [haveConfirmButton]="true"
    (cancelEvent)="cancel()"
    (closedEvent)="close()"
    [confirmButtonIsDisabled]="stockName.length == 0"
>
</app-modal>

<ng-template #content>
    <ion-col><ion-text>Nom :</ion-text></ion-col>
    <ion-col>
        <ion-input
            type="text"
            placeholder="Nom de stock"
            [(ngModel)]="stockName"
        ></ion-input
    ></ion-col>
</ng-template>
