<div class="stock-page">
  <h2 class="stock-title">Votre stock</h2>
  <div class="stock-list">
    <ul>
      @for (data of mockDatas; track data.name) {
      <emplacement-card [name]="data.name" [productAmount]="data.productAmount"></emplacement-card>
      }
    </ul>
  </div>
  <div class="category-resume">
    <h3 class="category-title">Les produits categorisés</h3>
    <div class="category-list">
      @for (category of selectedCategories; track category.name) {
      <div class="category-item">
        <ion-icon class="category-icon" name="fast-food-outline" size="large"></ion-icon>
        <div class="category-name">{{category.name}}</div>
      </div>
      }
    </div>
  </div>
</div>