<app-header [headerTitle]="headerTitle"></app-header>

<ion-content [fullscreen]="true">
    <div class="stock-page">
        <ion-text class="stock-title">
            <h2>Votre stock</h2>
        </ion-text>

        <ion-list class="stock-list">
            <app-info-card *ngFor="let data of mockStocks" [name]="data.name" [nb]="data.productTotal" [icon]="icon"
                [routerLink]="['/stock',data.id]"></app-info-card>

            <app-large-button icon="add-outline" class="center" (actionEvent)="openModal(true)"></app-large-button>
        </ion-list>

        <ion-list class="stock-list">
            <ion-text class="stock-title">
                <h3>Membres :</h3>
            </ion-text>
            <app-user-info-card *ngFor=" let user of users"
                [name]="user.firstname! + ' ' + user.lastname!"></app-user-info-card>

            <app-large-button icon="add-outline" class="center"
                (actionEvent)="toggleInvitationModal()"></app-large-button>
        </ion-list>
        <!--
        <div class="category-resume">
            <ion-text class="category-title">
                <h3>Les produits categorisés</h3>
            </ion-text>

            <ion-list class="category-list">
                <div class="category-item" *ngFor="let category of selectedCategories">
                    <ion-icon class="category-icon" name="{{category.icon}}" size="large"></ion-icon>
                    <ion-text class="category-name">
                        {{category.name}}
                    </ion-text>
                </div>
            </ion-list>
        </div>
    -->
    </div>
</ion-content>

<app-footer></app-footer>

<app-add-stock-modal [isModalOpen]="stockModalIsOpen" (cancelEvent)="openModal(false)"
    (confirmEvent)="createNewStock($event)" (closedEvent)="openModal(false)"></app-add-stock-modal>

<app-invitation-modal [isModalOpen]="isModalInvitationOpen"></app-invitation-modal>