<ion-content [fullscreen]="true">

    <app-header [headerIcon]="headerIcon" [headerTitle]="headerTitle"></app-header>

    <div class="stock-page">
        <ion-text class="stock-title">
            <h2>Votre stock</h2>
        </ion-text>

        <ion-list class="stock-list">
            <app-info-card *ngFor="let data of mockStocks" [name]="data.name" [nb]="data.productTotal" [icon]="icon"
                [routerLink]="['content', data.id]"></app-info-card>
        </ion-list>

        <div class="category-resume">
            <ion-text class="category-title">
                <h3>Les produits categorisés</h3>
            </ion-text>

            <ion-list class="category-list">
                <!-- TODO : Change <div> par <ion-row> -->
                <div class="category-item" *ngFor="let category of selectedCategories">
                    <ion-icon class="category-icon" name={{category.icon}} size="large"></ion-icon>
                    <ion-text class="category-name">
                        {{category.name}}
                    </ion-text>
                </div>
            </ion-list>
        </div>
    </div>
</ion-content>

<app-footer></app-footer>