<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>[Nom de la communauté]</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="stock-page">

    <ion-text class="stock-title">
      <h2>Votre stock</h2>
    </ion-text>

    <ion-list class="stock-list">
      <emplacement-card [name]="data.name" [productTotal]="data.productAmount"
        *ngFor="let data of mockDatas"></emplacement-card>
    </ion-list>

    <div class="category-resume">

      <ion-text class="category-title">
        <h3>Les produits categorisés</h3>
      </ion-text>

      <ion-list class="category-list">
        <!-- TODO : Change <div> par <ion-row> -->
        <div class="category-item" *ngFor="let category of selectedCategories">
          <ion-icon class="category-icon" name="fast-food-outline" size="large"></ion-icon>
          <ion-text class="category-name">
            {{category.name}}
          </ion-text>
        </div>
      </ion-list>

    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>[Nav buttons]</ion-title>
  </ion-toolbar>
</ion-footer>