<app-modal
    [title]="'Entrer le code barre'"
    [modalIsOpen]="isModalOpen"
    [contentTemplate]="content"
    (confirmEvent)="confirm()"
    (cancelEvent)="cancel()"
    (closedEvent)="close()"
    [haveConfirmButton]="true"
    [confirmButtonIsDisabled]="!(barcode.length == 13)"
>
</app-modal>

<ng-template #content>
    <ion-input
        id="barcode-input"
        placeholder="_ _ _ _ _ _ _ _ _ _ _ _ _"
        [(ngModel)]="barcode"
        (keydown)="onKeyDown($event)"
        inputmode="numeric"
        type="text"
    ></ion-input>

    <p *ngIf="barcode.length < 13">
        ⚠️ Le code doit comporter au moins 13 caractères.
    </p>
</ng-template>
