<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>product-content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="product-details-page">
  <div class="product-image">
    <ion-img src="https://docs-demo.ionic.io/assets/madison.jpg"
      alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
  </div>

  <div class="product-details-resume">
    <ion-text class="product-details-title">
      <h4>Les détails du produit</h4>
    </ion-text>

    <ion-list class="product-details-list">
      <ion-row class="product-details-item-texts">
        <ion-label class="product-details-item-title">Nom: </ion-label>
        <ion-text> [Nom du produit]</ion-text>
      </ion-row>

      <ion-row class="product-details-item-texts">
        <ion-label class="product-details-item-title">Marque:</ion-label>
        <ion-text> [Marque du produit]</ion-text>
      </ion-row>

      <ion-row class="product-details-item-texts">
        <ion-label class="product-details-item-title">Catégorie:</ion-label>
        <ion-text> [Catégorie du produit]</ion-text>
      </ion-row>

      <ion-row class="product-details-item-texts">
        <ion-label class="product-details-item-title">Ingrédients:</ion-label>
        <ion-text> [Ingrédients du produit]</ion-text>
      </ion-row>

      <ion-row class="product-details-item-texts">
        <ion-label class="product-details-item-title">Nutrition:</ion-label>
        <ion-text> [Nutrition du produit]</ion-text>
      </ion-row>
    </ion-list>
  </div>
</ion-content>