<app-modal
    [title]="newProductData.name!"
    [modalIsOpen]="isModalOpen"
    [contentTemplate]="content"
    (confirmEvent)="confirm()"
    (cancelEvent)="cancel()"
    (closedEvent)="close()"
    [haveConfirmButton]="true"
>
</app-modal>

<ng-template #content>
    <ion-list lines="none">
        <ion-item>
            <ion-label>Quantité ?</ion-label>
            <div class="amount">
                <app-round-button
                    [color]="newProductData.qte === 1 ? 'medium' : 'danger'"
                    icon="remove-circle"
                    (actionEvent)="decrement()"
                ></app-round-button>

                <div class="product-number">
                    {{ newProductData.qte }}
                </div>

                <app-round-button
                    color="primary"
                    icon="add-circle"
                    (actionEvent)="increment()"
                ></app-round-button>
            </div>
        </ion-item>

        <ion-item>
            <ion-label>Emplacement ?</ion-label>
            <ion-select
                fill="solid"
                interface="popover"
                type="select"
                [(ngModel)]="newProductData.emplacementId"
                justify="start"
                (ionChange)="UpdateEmplacementValue($event)"
            >
                <ion-select-option
                    *ngFor="let stock of mockStock; index as i"
                    [value]="stock.value"
                >
                    {{ stock.name }}
                </ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
</ng-template>
