<app-modal
    [title]="'-- Nom du produit --'"
    [modalIsOpen]="isModalOpen"
    [contentTemplate]="content"
    (cancelEvent)="cancel()"
>
</app-modal>

<ng-template #content>
    <form [formGroup]="scanDetailsForm" (ngSubmit)="onSubmit()">
        <ion-grid>
            <ion-col>
                <ion-input
                    formControlName="quantity"
                    label="Qté à ajouter ?"
                    type="number"
                    placeholder="Entrer une quantité"
                ></ion-input>
            </ion-col>

            <ion-col>
                <ion-select
                    formControlName="emplacement"
                    fill="solid"
                    interface="popover"
                    type="select"
                    label="Emplacement ?"
                >
                    <ion-select-option value="0">Mr</ion-select-option>
                    <ion-select-option value="1">Mme</ion-select-option>
                </ion-select>
            </ion-col>

            <ion-col>
                <ion-input
                    formControlName="community"
                    label="Communauté ?"
                    placeholder="Selectionner une communauté"
                ></ion-input>
            </ion-col>
        </ion-grid>
    </form>

    <!-- <ion-list>
        <ion-list>
            <ion-item>
                <ion-input
                    label="Qté à ajouter ?"
                    type="number"
                    placeholder="Entrer une quantité"
                ></ion-input>
            </ion-item>

            <ion-item>
                <ion-select
                    formControlName="gender"
                    fill="solid"
                    interface="popover"
                    type="select"
                >
                    <ion-select-option value="0">Mr</ion-select-option>
                    <ion-select-option value="1">Mme</ion-select-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-input
                    label="Communauté ?"
                    placeholder="Selectionner une communauté"
                ></ion-input>
            </ion-item>
        </ion-list>
    </ion-list> -->
</ng-template>

<app-barcode-entry-modal
    [isModalOpen]="isBarecodeModalOpen"
    (confirmEvent)="openBarcodeModal(false)"
    (cancelEvent)="openBarcodeModal(false)"
></app-barcode-entry-modal>
