<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>basket</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">basket</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="product-list">
    <!-- <product-card
      *ngFor="let product of productCards"
      [name]="product.name"
      [amount]="product.amount"
    ></product-card> -->
  </ion-list>
</ion-content>
