<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>basket</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">basket</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list class="product-list">
        <app-product-card
            *ngFor="let product of productList"
            [product]="product"
        ></app-product-card>
    </ion-list>

    <ion-button (click)="saveBasket()" class="">
        <ion-label>Valider</ion-label>
    </ion-button>
</ion-content>
