ion-modal {
    --height: 50%;
    --width: 90%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}

.modal-title {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    font-size: x-large;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
