<ion-modal
    [isOpen]="modalIsOpen"
    (willDismiss)="close()"
    (didDismiss)="close()"
>
    <ng-template>
        <ion-header
            ><ion-text class="modal-title">{{ title }}</ion-text></ion-header
        >
        <ion-content>
            <ion-grid class="modal-grid">
                <ion-row class="modal-content">
                    <ng-container
                        *ngTemplateOutlet="contentTemplate"
                    ></ng-container>
                </ion-row>
            </ion-grid>
        </ion-content>

        <ion-footer>
            <ion-grid>
                <ion-row class="justify-center">
                    <ion-button
                        class="width-7"
                        (click)="cancel()"
                        [color]="haveConfirmButton ? 'medium' : 'primary'"
                    >
                        Annuler
                    </ion-button>
                    <ion-button
                        class="width-7"
                        [disabled]="confirmButtonIsDisabled"
                        *ngIf="haveConfirmButton"
                        (click)="confirm()"
                    >
                        Valider
                    </ion-button></ion-row
                >
            </ion-grid>
        </ion-footer>

        <!-- <ion-grid class="modal-grid">
            <ion-row>
                <ion-content class="ion-padding">
                    <ng-container
                        *ngTemplateOutlet="contentTemplate"
                    ></ng-container> </ion-content
            ></ion-row>
            <ion-row class="modal-footer">
                <ion-button
                    (click)="cancel()"
                    [color]="haveConfirmButton ? 'medium' : 'primary'"
                >
                    Retour
                </ion-button>
                <ion-button
                    [disabled]="confirmButtonIsDisabled"
                    *ngIf="haveConfirmButton"
                    (click)="confirm()"
                >
                    Valider
                </ion-button>
            </ion-row>
        </ion-grid> -->
    </ng-template>
</ion-modal>
