ion-modal {
    --ion-background-color: #f1ecec;
    --height: 50%;
    --width: 90%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
    opacity: 1;
}

.modal-title {
    display: flex;
    justify-content: center;
    padding: 0.5em;
    font-size: x-large;
}

.modal-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.modal-content {
    flex: 1; /* Permet au contenu de prendre tout l’espace disponible */
    display: flex;
    align-items: center; /* Centre horizontalement */
    justify-content: center; /* Centre verticalement */
    text-align: center; /* Centre le texte */
}

.justify-center {
    justify-content: space-around;
}

.width-7 {
    width: 7em;
}

// ion-modal > .ion-page {
//     min-height: 200px;
// }

// .modal-wrapper {
//     height: fit-content;
//     width: fit-content;
// }
