<ion-row class="product-card">
    <ion-icon class="product-icon" name="fast-food-outline" size="large"></ion-icon>
    <div class="product-name">{{ product.name }}</div>
    <div class="product-amount">
        <app-round-button color="danger" [icon]="this.product.amount == 1 ? 'trash' : 'remove-outline'"
            (actionEvent)="decrement()" size="small"></app-round-button>

        <div class="product-number">{{ product.amount }}</div>

        <app-round-button color="primary" icon="add-outline" (actionEvent)="increment()"
            size="small"></app-round-button>
    </div>
</ion-row>