<ion-row class="product-card">
    <ion-icon class="product-icon" name="fast-food-outline"></ion-icon>
    <div class="product-name">{{ product.name }}</div>
    <div class="product-amount">
        <app-round-button
            color="primary"
            icon="add-circle"
            (actionEvent)="increment()"
        ></app-round-button>

        <div class="product-number">{{ product.nbAdded ?? 0 }}</div>

        <app-round-button
            color="danger"
            icon="remove-circle"
            (actionEvent)="decrement()"
        ></app-round-button>
    </div>
</ion-row>
