.product-card {
    display: flex;
    margin: 7px;
    padding: 5px;
    border: 0.5px solid #00000025;
    box-shadow: 0.5px 0.5px 5px 0.5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #ffffff;

    .product-icon {
        width: 3em;
    }

    .product-name {
        font-size: clamp(15px, 2vw, 30px);
        width: 80%;
    }

    .product-amount {
        width: 100px;
        display: flex;
        align-items: center;

        .product-number {
            font-size: clamp(20px, 2vw, 40px);
            flex-grow: 1;
            min-width: 0.75em;
        }
    }
}