.product-card {
    border: 1.5px solid black;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    height: 80px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;

    .product-icon {
        margin-right: 5px;
        margin-left: 15px;
        font-size: 3.2em; // Size of the icon
    }

    .product-name {
        margin-right: 20px;
        margin-left: 10px;

        font-size: 1.3em;

        width: 120px;
        height: 60px;

        overflow: hidden;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3; // Unused but its to avoid warning message with "-webkit-line-clamp"

        align-content: center;
    }

    .product-amount {
        display: flex;
        align-items: center;

        margin-right: 1em;

        .mock-rounded-button {
            width: 1.25em !important;
            height: 1.25em !important;
            --ripple-color: transparent; // TODO : Check with mobile, some functionnalities doesn't work well on laptop
            --border-color: none;
            --border-width: 0px !important;
        }

        .product-number {
            margin-right: 0.1em;
            margin-left: 0.1em;
            font-style: italic;
            font-weight: bold;
            font-size: xx-large;
            width: 1.5em;
            text-align: center;
        }
    }


}