ion-input-password-toggle {
    position: absolute;
    display: block;
    right: 10px;
    top: 6px;
    z-index: 10;
}

.login-form {
    padding: 20px;
    width: 100%;

    form {
        width: 100%;
    }
}

ion-button {
    width: 100%;
    margin: 0;
    margin-top: 10px;

    button {
        padding: 20px;
    }
}
