<ion-footer>
  <div class="toolbar-container">
    <div class="nav-button" [routerLink]="['/communities']">
      <ion-icon name="people-outline" size="large"></ion-icon>
      <ion-text>communautés</ion-text>
    </div>
    <div class="nav-button" [routerLink]="['/basket']">
      <ion-icon name="cart-outline" size="large"></ion-icon>
      <ion-text>Panier</ion-text>
    </div>
    <div class="nav-button" [routerLink]="['/scan']">
      <ion-icon name="scan-circle-outline" size="large"></ion-icon>
      <ion-text>Scan</ion-text>
    </div>
    <div class="nav-button" [routerLink]="['/settings']">
      <ion-icon name="settings-outline" size="large"></ion-icon>
      <ion-text>Paramètres</ion-text>
    </div>
  </div>
</ion-footer>