.header {
    padding: 10px;
    background: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .header-title {
        font-size: clamp(20px, 4vw, 30px);
        max-width: 75%;
    }

    .header-icons {
        width: 10%;
        max-width: 3em;
    }

}

.back-button {
    --background: none;
    --border: none;
    --box-shadow: none;
    --color: #000000
}