.home-page {
    display: flex;
    margin: 15px 0 0 0;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}

.home-title {
    align-self: center;
}

.home-community {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 3px solid;
    border-radius: 10px;
    margin: 0 3% 0 3%;
    background: #75b6eea6;
}

.home-communities {
    margin: 0 5px 0 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.home-list {

    width: 95%;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    background: none;
}




.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    --border: none;
    --box-shadow: none;

    .toolbar {
        --background: #AEF3F0;
    }

    .header-title {

        max-width: 70%;
        padding: 0;

        .header-title-text {
            font-size: clamp(20px, 4vw, 30px);
            padding-left: 5px;
        }
    }

    .header-icons {
        min-width: 15%;
        max-width: 3em;
    }

}