<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>stock-content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="stock-content-page">

    <div class="search-bar"></div>

    <ion-list class="product-list">
      <ion-row class="product-card" *ngFor="let product of productCards">
        <ion-icon class="product-icon" name="fast-food-outline"></ion-icon>
        <div class="product-name">{{product.name}}</div>
        <div class="product-amount">
          <ion-button size="large" fill="clear" class="mock-rounded-button">
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>

          <div class="product-number">{{product.amount}} </div>
          <ion-button size="large" fill="clear" class="mock-rounded-button">
            <ion-icon name="remove-circle-outline"></ion-icon>
          </ion-button>

        </div>
      </ion-row>
    </ion-list>
  </div>
</ion-content>