.stock-content-page {
    display: flex;
    margin: 10px;
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;

}

.stock-title {
    align-self: center;
}

.product-list {
    background: transparent;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}