<app-header [headerTitle]="headerTitle"></app-header>

<ion-content [fullscreen]="true">
    <div class="stock-content-page">
        <div class="search-bar"></div>

        <ion-list class="product-list">
            <app-product-card
                *ngFor="let product of productCards"
                [product]="product"
                [(products)]="productCards"
            ></app-product-card>

            <app-large-button
                icon="scan-circle-outline"
                (actionEvent)="router.navigate(['/scan'], {
            state: { stockID: this.stockID },
        })"
                class="center"
                text="Ajouter Produit"
            ></app-large-button>
        </ion-list>
    </div>
</ion-content>

<app-footer></app-footer>
