<app-header [headerTitle]="headerTitle"></app-header>

<ion-content [fullscreen]="true">
    <div class="stock-content-page">
        <div class="search-bar"></div>

        <ion-list class="product-list">
            <app-product-card *ngFor="let product of productCards" [product]="product"></app-product-card>
        </ion-list>
        <ion-button (click)="router.navigateByUrl('/scan')">
            <ion-label>(Test) New Product</ion-label>
        </ion-button>
    </div>
</ion-content>

<app-footer></app-footer>