.round-button {
    --padding-start: 0;
    --padding-end: 0;

    ion-icon {
        min-width: 2em;
    }
}

.small {
    width: 0.5em;
    height: 0.5em;
}

.medium {
    width: 3em;
    height: 3em;
}

.large {
    width: 4em;
    height: 4em;
}